ansible_sudo_pass: <secret>
ansible_connection: local
clientid    : localhost
msg_num     : 1000
sleep_min   : 0.50
sleep_max   : 1.50
threads     : 100

# special syntax: here we only want to subscribe and count messages
#topic       : test/#
#message     : test
#msg_num     : 0
#sleep_min   : 0.50
#sleep_max   : 1.50
#threads     : 1
