# file: stage

[home-hosts]
localhost

[mqtthosts:children]
home-hosts

[mqtthosts:vars]
# force target for MQTT messages stress test
targethost=localhost:1883
# force install of broker
broker=true
